{# ChatGPT generated template #}

<!DOCTYPE html>
<html>
<head><title>Show Spoilers?</title></head>
<body>
  <h2>Do you want to see reviews that contain spoilers?</h2>
  <form method="POST">
    <label>
      <input type="radio" name="show_spoilers" value="yes" required> Yes
    </label><br>
    <label>
      <input type="radio" name="show_spoilers" value="no" required> No
    </label><br><br>
    <input type="submit" value="Show Reviews">
  </form>
  <p><a href="/">Back to Home</a></p>
</body>
</html>
